<div class="welcome"> 
	<div class="jumbotron">
		<h1>Поиск АЗС по городам России!</h1>
		<p class="lead">Поиск АЗС - сервис поиска заправок в городах России, а также на основных автомагистралях.</p>		
	</div>
</div>	  