<div style="margin-top: 50px;">

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Внимание!</strong> Процесс получения данных успешно завершен.
</div>

</div>